<!DOCTYPE html>
<!-- TODO: Documentazione -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Gestione Ristorante</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestione Ristorante/Magazzino</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">               <!-- TODO: da modificare -->
                    <a class="nav-link active" aria-current="page" href="">Home (Da modificare)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/fornitori}">Fornitori</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/prodotti}">Prodotti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/ordini}">Ordini</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/forniture}">Forniture</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container-fuild">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Aggiorna prodotto </h1>
            <div class="card-body">
                <form th:action="@{/prodotti/edit/{id} (id=${prodotto.id})}" th:object="${prodotto}" method="POST">
                    <div class="form-group">
                        <label for="nome"> Nome </label>
                        <input
                                type="text"
                                id="nome"
                                th:field="*{nome}"
                                class="form-control"
                                placeholder="Inserisci nome prodotto"
                        />
                    </div>
                    <div class="form-group">
                        <label for="tipologia"> Tipologia </label>
                        <input
                                type="text"
                                id="tipologia"
                                th:field="*{tipologia}"
                                class="form-control"
                                placeholder="Inserisci tipologia prodotto"
                        />
                    </div>

                    <div class="form-group">
                        <label for="marca"> Marca </label>
                        <input
                                type="text"
                                id="marca"
                                th:field="*{marca}"
                                class="form-control"
                                placeholder="Inserisci marca"
                        />
                    </div>
                    <br>
                    <div class="footer-body">
                        <button type="submit" class="btn btn-primary"> Modifica</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

<!--
<div class="form-group">
    <label> Nome prodotto </label>
    <input
            type="text"
            name="nome"
            th:field="*{nome}"
            class="form-control"
            placeholder="Inserisci nome prodotto"
    />
</div>

<div class="form-group">
    <label> Tipologia prodotto </label>
    <input
            type="text"
            name="tipologia"
            th:field="*{tipologia}"
            class="form-control"
            placeholder="Inserisci tipologia prodotto"
    />
</div>

<div class="form-group">
    <label> Marca prodotto </label>
    <input
            type="text"
            name="marca"
            th:field="*{marca}"
            class="form-control"
            placeholder="Inserisci marca prodotto"
    />
</div>
<br>
<div class="footer-body">
    <button type="submit" class="btn btn-primary"> Aggiorna </button>
</div>
-->
