<!DOCTYPE html>
<!-- TODO: Documentazione -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestione Ristorante</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestione Ristorante/Magazzino</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">               <!-- TODO: da modificare -->
                    <a class="nav-link active" aria-current="page" href="">Home (Da modificare)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/fornitori}">Fornitori</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/prodotti}">Prodotti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/ordini}">Ordini</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/forniture}">Forniture</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid">
    <!-- TODO: eventualità da implementare -->
    <div class="row" th:if="${forniture.isEmpty()}">
        <h1 th:text="'Forniture non presenti'"></h1>
    </div>
    <div class="row" th:unless="${forniture.isEmpty()}">
        <h1 th:text="'Fornitura Fornitore: ' + ${forniture.get(0).getFornitore().getNomeAzienda()}"></h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{'/magazzino/forniture/fornitore/' + ${id} + '/new'}" class="btn btn-primary btn-sm mb-3">Aggiungi fornitura</a>
        </div>
    </div>
</div>
</body>
</html>