<!DOCTYPE html>
<!-- TODO: Documentazione -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Gestione Ristorante</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.css}"/>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestione Ristorante/Magazzino</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">               <!-- TODO: da modificare -->
                    <a class="nav-link active" aria-current="page" href="">Home (Da modificare)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/fornitori}">Fornitori</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/prodotti}">Prodotti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/ordini}">Ordini</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/forniture}">Forniture</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <h1>Lista Fornitori</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/magazzino/fornitori/new}" class="btn btn-primary btn-sm mb-3"> Aggiungi Fornitore </a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Partita Iva</th>
            <th> Nome Azienda</th>
            <th> Sede Legale</th>
            <th> Citta'</th>
            <th> Contatto</th>
            <th> Forniture</th>
            <th>&emsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${fornitori}">
            <td th:text="${entry.key.getPiva()}"></td>
            <td th:text="${entry.key.getNomeAzienda()}"></td>
            <td th:text="${entry.key.getSedeLegale()}"></td>
            <td th:text="${entry.key.getCitta()}"></td>
            <td>
                <!-- TODO: da regolare il sizing -->
                <div class="container">
                    <div class="row start" th:each="contatto, cont: ${entry.key.getContatti()}">

                        <div class="col">
                            <span th:text="${contatto.tipologia}"></span>
                            <span th:text="${contatto.suffix}"></span>
                        </div>
                        <div class="col">
                            <span th:text="${contatto.contatto}"></span>
                        </div>
                        <div class="col">
                            <p>
                                <a th:href="@{/magazzino/fornitori/edit/{id}/update_contatto (id=${entry.key.getPiva()})}"
                                   class="btn btn-primary btn-sm"> aggiorna </a>
                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <p>
                            <a th:href="@{/magazzino/fornitori/edit/{id}/new_contatto (id=${entry.key.getPiva()})}"
                               class="btn btn-primary btn-sm"> aggiungi </a>
                        </p>
                    </div>
                </div>
            </td>
            <td>
                <!-- TODO: da centrare -->
                <div class="row">
                    <div class="col">
                        <p th:text="${entry.value.toString()}"></p>
                    </div>
                    <div class="col">
                        <a th:href="@{/magazzino/forniture/fornitore/{id} (id=${entry.key.getPiva()})}"
                           class="btn btn-primary btn-sm">
                            visualizza
                        </a>
                    </div>
                </div>
            </td>
            <td>
                <!-- TODO: da regolare il sizing -->
                <div class="row">
                        <div class="col">
                            <a th:href="@{/magazzino/fornitori/edit/{id} (id=${entry.key.getPiva()})}" class="btn btn-primary sm"> modifica </a>
                        </div>
                    <div class="col">
                        <form th:action="@{/magazzino/fornitori/delete/{id} (id=${entry.key.getPiva()})}" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" value="elimina" class="btn btn-danger sm"/>
                        </form>
                        <!-- <a th:href="@{/magazzino/fornitori/delete/{id} (id=${entry.key.getPiva()})}" class="btn btn-danger sm"> elimina </a> -->
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>