<!DOCTYPE html>
<!-- TODO: Documentazione -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Gestione Ristorante</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestione Ristorante/Magazzino</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">               <!-- TODO: da modificare -->
                    <a class="nav-link active" aria-current="page" href="">Home (Da modificare)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/fornitori}">Fornitori</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/prodotti}">Prodotti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/ordini}">Ordini</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/forniture}">Forniture</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid" th:if="${fornitura.isEmpty()}">
    <div class="row">
        <h1 th:text="'Fornitura non presente'"></h1>
        <!-- TODO: eventualità da implementare -->
    </div>
</div>

<div class="container-fluid" th:unless="${fornitura.isEmpty()}">
    <div class="row">
        <h1 th:text="'Dettagli fornitura ' + ${prodotto.getNome()}"></h1>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header"> Fornitura </h5>
        <div class="card-body">
            <h6 class="card-title" th:text="'Prezzo unitario: ' + ${fornitura.get().getPrezzoUnitario()}"></h6>
            <h6 class="card-title" th:text="'Tempo consegna: ' + ${fornitura.get().getTempoConsegna()} + ' giorno/i'"></h6>
            <!-- TODO: da implementare -->
            <a th:href="'/magazzino/fornitura/prodotto/edit/' + ${prodotto.getId()}" class="btn btn-primary"> modifica </a>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header"> Fornitore </h5>
        <div class="card-body">
            <h6 class="card-title" th:text="'Nome: ' + ${fornitore.getNomeAzienda()}"></h6>
            <h6 class="card-title" th:text="'Indirizzo: ' + ${fornitore.getSedeLegale()} + ' '
                + ${fornitore.getCitta()}"></h6>
            <th:block th:each="contatto, i: ${fornitore.getContatti()}">
                <h6 class="card-title" th:text="'Contatto ' + ${i.index+1} + ': '
                + ${contatto.getTipologia()} + ' ' + ${contatto.getSuffix()} + ' '
                + ${contatto.getContatto()} "></h6>
            </th:block>
            <!-- TODO: da implementare -->
            <a th:href="'/magazzino/fornitori/details/' + ${fornitore.getPiva()}" class="btn btn-primary"> visualizza </a>
        </div>
    </div>
    <br>
    <div class="card">
        <h5 class="card-header"> Prodotto </h5>
        <div class="card-body">
            <h6 class="card-title" th:text="'Nome: ' + ${prodotto.getNome()}"></h6>
            <h6 class="card-title" th:text="'Tipologia: ' + ${prodotto.getTipologia()}"></h6>
            <h6 class="card-title" th:text="'Marca: ' + ${prodotto.getMarca()}"></h6>
            <!-- TODO: da implementare -->
            <a th:href="'/magazzino/prodotti/details/' + ${prodotto.getId()}" class="btn btn-primary"> visualizza </a>
        </div>
    </div>
</div>
</body>
</html>