<!DOCTYPE html>
<!-- TODO: Documentazione -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="common-fragments.html :: headerfiles"></head>
<body>
<header th:insert="magazzino-fragments.html :: nav"></header>
<div class="container-fluid">
    <div class="row">
        <h1>Lista Fornitori</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/magazzino/fornitori/new}" class="btn btn-primary btn-sm mb-3"> Aggiungi Fornitore </a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Partita Iva</th>
            <th> Nome Azienda</th>
            <th> Sede Legale</th>
            <th> Citta'</th>
            <th> Contatto</th>
            <th> Forniture</th>
            <th>&emsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${fornitori}">
            <td th:text="${entry.key.getPiva()}"></td>
            <td th:text="${entry.key.getNomeAzienda()}"></td>
            <td th:text="${entry.key.getSedeLegale()}"></td>
            <td th:text="${entry.key.getCitta()}"></td>
            <td>
                <!-- TODO: da regolare il sizing -->
                <div class="container">
                    <div class="row start" th:each="contatto, cont: ${entry.key.getContatti()}">

                        <div class="col">
                            <span th:text="${contatto.tipologia}"></span>
                            <span th:text="${contatto.suffix}"></span>
                        </div>
                        <div class="col">
                            <span th:text="${contatto.contatto}"></span>
                        </div>
                        <div class="col">
                            <p>
                                <a th:href="@{/magazzino/fornitori/edit/{id}/update_contatto (id=${entry.key.getId()})}"
                                   class="btn btn-primary btn-sm"> aggiorna </a>
                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <p>
                            <a th:href="@{/magazzino/fornitori/edit/{id}/new_contatto (id=${entry.key.getId()})}"
                               class="btn btn-primary btn-sm"> aggiungi </a>
                        </p>
                    </div>
                </div>
            </td>
            <td>
                <!-- TODO: da centrare -->
                <div class="row">
                    <div class="col">
                        <p th:text="${entry.value.toString()}"></p>
                    </div>
                    <div class="col">
                        <a th:href="@{/magazzino/forniture/fornitore/{id} (id=${entry.key.getId()})}"
                           class="btn btn-primary btn-sm">
                            visualizza
                        </a>
                    </div>
                </div>
            </td>
            <td>
                <!-- TODO: da regolare il sizing -->
                <div class="row">
                    <div class="col">
                        <a th:href="@{/magazzino/fornitori/edit/{id} (id=${entry.key.getId()})}" class="btn btn-primary sm">
                            modifica </a>
                    </div>
                    <br>
                    <div class="col">
                        <a th:href="@{/magazzino/fornitori/delete/{id} (id=${entry.key.getId()})}" class="btn btn-danger sm">
                            elimina </a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>