<!DOCTYPE html>
<!-- TODO: Documentazione -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Gestione Ristorante</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.css}" />
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Gestione Ristorante/Magazzino</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">               <!-- TODO: da modificare -->
                    <a class="nav-link active" aria-current="page" href="">Home (Da modificare)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/fornitori}">Fornitori</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/prodotti}">Prodotti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/ordini}">Ordini</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/magazzino/forniture}">Forniture</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <h1>Lista Forniture</h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/magazzino/forniture/new}" class="btn btn-primary btn-sm mb-3">Aggiungi fornitura</a>
        </div>
    </div>

    <th:block th:each="relazione: ${forniture}">
    <div class="row border">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Fornitore </h5>
                    <p class="card-text" th:text="'Nome: ' + ${relazione.getFornitore().getNomeAzienda()}"></p>
                    <p class="card-text" th:text="'Indirizzo: ' + ${relazione.getFornitore().getSedeLegale()}"></p>
                    <p class="card-text" th:text="'Città: ' + ${relazione.getFornitore().getCitta()}"></p>
                    <a th:href="'/fornitori/details/' + ${relazione.getFornitore().getPiva()}" class="btn btn-primary">
                        visualizza </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Prodotto </h5>
                    <p class="card-text" th:text="'Nome: ' + ${relazione.getProdotto().getNome()}"></p>
                    <p class="card-text" th:text="'Tipologia: ' + ${relazione.getProdotto().getTipologia()}"></p>
                    <p class="card-text" th:text="'Marca: ' + ${relazione.getProdotto().getMarca()}"></p>
                    <a th:href="'/prodotti/details/' + ${relazione.getProdotto().getId()}" class="btn btn-primary">
                        visualizza </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> Fornitura </h5>
                    <p class="card-text" th:text="'Prezzo unitario: ' + ${relazione.getPrezzoUnitario()}"></p>
                    <p class="card-text" th:text="'Tempo consegna: ' + ${relazione.getTempoConsegna()}"></p>
                    <a th:href="'/prodotti/details/' + ${relazione.getProdotto().getId()}" class="btn btn-primary">
                        visualizza </a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <!-- TODO: da implementare -->
                    <p><a href="#" class="btn btn-primary"> fai ordine </a></p>
                    <p><a href="#" class="btn btn-primary"> elimina relazione </a></p>
                </div>
            </div>
        </div>
    </div>
    </th:block>
</div>
</body>
</html>