<!DOCTYPE html>
<!-- TODO: Documentazione -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common-fragments.html :: headerfiles"></head>
<body>
<th:block th:insert="magazzino-fragments.html :: nav"></th:block>
<div class="container-fluid" th:if="${forniture.isEmpty()}">
    <div class="row">
        <h1 th:text="'Forniture non presenti'"></h1>
        <!-- TODO: eventualità da implementare -->
    </div>
    <th:block th:insert="magazzino-fragments.html :: aggiunge_fornitura"></th:block>
</div>

<div class="container-fluid" th:unless="${forniture.isEmpty()}">
    <div class="row">
        <h1 th:text="'Fornitura Fornitore: ' + ${forniture.get(0).getFornitore().getNomeAzienda()}"></h1>
    </div>
    <th:block th:insert="magazzino-fragments.html :: aggiunge_fornitura_fornitore"></th:block>
</div>

</body>
</html>