<!DOCTYPE html>
<!-- TODO: Documentazione -->
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="common-fragments.html :: headerfiles"></head>
<body>
<th:block th:insert="risorse_umane-fragments.html :: nav"></th:block>
<div class="container-fluid">
    <div class="row">
        <h1> Lista Dipendenti </h1>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/risorse_umane/dipendenti/new}" class="btn btn-primary btn-sm mb-3"> Aggiungi Dipendente </a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th> Nome </th>
            <th> Cognome </th>
            <th> Codice Fiscale </th>
            <th> Data di Nascita </th>
            <th> Indirizzo </th>
            <th> Città </th>
            <th> Contatto </th>
            <th>&emsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dipendente: ${dipendenti}">
            <td th:text="${dipendente.getNome()}"></td>
            <td th:text="${dipendente.getCognome()}"></td>
            <td th:text="${dipendente.getCodiceFiscale()}"></td>
            <td th:text="${dipendente.getDataDiNascita()}"></td>
            <td th:text="${dipendente.getIndirizzo()} + ', ' + ${dipendente.getCitta()}"></td>
            <td>
                <!-- TODO: da regolare il sizing -->
                <div class="container">
                    <div class="row start" th:each="contatto, cont: ${dipendente.getContatti()}">
                        <div class="col">
                            <span th:text="${contatto.tipologia}"></span>
                            <span th:text="${contatto.suffix}"></span>
                        </div>
                        <div class="col">
                            <span th:text="${contatto.contatto}"></span>
                        </div>
                        <div class="col">
                            <p>
                                <a th:href="@{/risorse_umane/dipendenti/edit/{id}/update_contatto (id=${dipendente.getId()})}"
                                   class="btn btn-primary btn-sm"> aggiorna </a>
                            </p>
                        </div>

                    </div>
                    <div class="row">
                        <p>
                            <a th:href="@{/risorse_umane/dipendenti/edit/{id}/new_contatto (id=${dipendente.getId()})}"
                               class="btn btn-primary btn-sm"> aggiungi </a>
                        </p>
                    </div>
                </div>
            </td>
            <td>
                <!-- TODO: da regolare il sizing -->
                <div class="row">
                    <div class="col">
                        <a th:href="@{/risorse_umane/dipendenti/edit/{id} (id=${dipendente.getId()})}"
                           class="btn btn-primary sm">
                            modifica </a>
                    </div>
                    <br>
                    <div class="col">
                        <a th:href="@{/risorse_umane/dipendenti/delete/{id} (id=${dipendente.getId()})}"
                           class="btn btn-danger sm">
                            elimina </a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>