<!DOCTYPE html>
<!-- TODO: Documentazione -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<!-- Fragment #1 : Navbar contains nav links -->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Gestione Ristorante/Magazzino</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">               <!-- TODO: da modificare -->
                        <a class="nav-link active" aria-current="page" href="">Home (Da modificare)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/magazzino/fornitori}">Fornitori</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/magazzino/prodotti}">Prodotti</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/magazzino/ordini}">Ordini</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/magazzino/forniture}">Forniture</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
</div>

<!-- Fragment #2 : bottone aggiungi fornitura di fornitore -->
<div class="row" th:fragment="aggiunge_fornitura_fornitore">
    <div class="col-lg-3">
        <a th:href="@{'/magazzino/forniture/fornitore/' + ${piva} + '/new'}" class="btn btn-primary btn-sm mb-3">Aggiungi fornitura</a>
    </div>
</div>

</body>
</html>